<!-- <form class="form-inline my-2 my-lg-0"> -->
      <input id="inputName" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
      <input id="inputRate" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
      <button id="addItem" class="btn btn-outline-success my-2 my-sm-0" >Add</button>
    <!-- </form> -->


<script>
alert('funziona');
$("#addItem").click(function() {
var inputName = $('#inputName').val();
var inputRate = $('#inputRate').val();
alert(inputName + " - " + inputRate);
window.location.href = '/addperson/' + inputName + '/' + inputRate;
});
</script>



