<form class="form-inline my-2 my-lg-0"> 
      <input id="inputName" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
      <input id="inputRate" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
      <button id="search" class="btn btn-outline-success my-2 my-sm-0" >Search</button>
     </form>


<script>
$("#search").click(function() {
var inputName = $('#inputName').val();
var inputRate = $('#inputRate').val();
alert(inputName + " - " + inputRate);
window.location.href = '/search/' + inputName + '/' + inputRate;
});
</script>
