<p class="lead">A-Frame</p>
<hr class="my-4">

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
var activeScene = "";

var dataArray = {
		 "0":{  "name": "scene1",
          "links":  { "1": {"to": "scene2", "pos":[3,2,5], "color": "red"},
                      "2": {"to": "scene3", "pos":[6,2,5]},"color": "green"},
                      "3": {"to": "scene4", "pos":[9,2,5]},"color": "yellow"}
                    }
        },
		 "1":{  "name": "scene2",
          "links":  { "1": {"to": "scene1", "pos":[0,2,5], "color": "blue"},
                      "2": {"to": "scene3", "pos":[6,2,5]},"color": "green"},
                      "3": {"to": "scene4", "pos":[9,2,5]},"color": "yellow"}
                    }
        },
        
		 "3":{  "name": "scene3",
          "links":  { "1": {"to": "scene1", "pos":[0,2,5], "color": "blue"},
                      "2": {"to": "scene2", "pos":[3,2,5]},"color": "red"},
                      "3": {"to": "scene4", "pos":[9,2,5]},"color": "yellow"}
                    }
        }, 
        
      "4":{  "name": "scene4",
          "links":  { "1": {"to": "scene1", "pos":[0,2,5], "color": "blue"},
                      "2": {"to": "scene2", "pos:[3,2,5]},"color": "red"},
                      "3": {"to": "scene3", "pos":[6,2,5]},"color": "green"}
                    }
        }
      }; // end dataArray
        
        
                   

		




$( document ).ready(function() {

		printObject(dataArray); 
		
		/*				

		for(var theKey in dataArray) { 
		
		
		
	                if(dataArray.hasOwnProperty(theKey)) { 
			
			if (activeScene == "") {}
			
			
			
			
			var theVal = dataArray[theKey];
			var theScene = theVal.name;
			printObject(theVal); 
			alert(theScene);
			
			
				                      
 	               } // fine if 1  		   		       
		      
		    
		      
	       } // fine for 
	       
	       */
	       	       
                      
    
});
</script>

  



     <hr class="my-4">
  <h4>Inspired by...</h4>
  <a href="https://github.com/aframevr/aframe/issues/1023" target="_blank">A-Frame Switch scene</a>
    <br>
      <a href="https://aframe.io/docs/0.8.0/introduction/writing-a-component.html" target="_blank">A-Frame Writing a Component</a>
    <br>
