<p class="lead">A-Frame</p>
<hr class="my-4">

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
var dataArray = {
		 "0":{  "name": "scene1",
          "links":  { "1": {"to": "scene2", pos:[3,2,5], "color": "red"},
                      "2": {"to": "scene3", pos:[6,2,5]},"color": "green"},
                      "3": {"to": "scene4", pos:[9,2,5]},"color": "yellow"}
                    }
        },
		 "1":{  "name": "scene2",
          "links":  { "1": {"to": "scene1", pos:[0,2,5], "color": "blue"},
                      "2": {"to": "scene3", pos:[6,2,5]},"color": "green"},
                      "3": {"to": "scene4", pos:[9,2,5]},"color": "yellow"}
                    }
        },
        
		 "3":{  "name": "scene3",
          "links":  { "1": {"to": "scene1", pos:[0,2,5], "color": "blue"},
                      "2": {"to": "scene2", pos:[3,2,5]},"color": "red"},
                      "3": {"to": "scene4", pos:[9,2,5]},"color": "yellow"}
                    }
        }, 
        
      "4":{  "name": "scene4",
          "links":  { "1": {"to": "scene1", pos:[0,2,5], "color": "blue"},
                      "2": {"to": "scene2", pos:[3,2,5]},"color": "red"},
                      "3": {"to": "scene3", pos:[6,2,5]},"color": "green"}
                    }
        }
      }; // end dataArray
        
        
                   

		




$( document ).ready(function() {
    
});
</script>

  <a-scene>

     <a-entity camera look-controls>
          <a-entity cursor="fuse: true; fuseTimeout: 500"
                    position="0 0 -1"
                    geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03"
                    material="color: black; shader: flat">
                    
                     <a-entity animation begin="click" easing="ease-in" attribute="scale" dur="150"
                       fill="forwards" from="0.1 0.1 0.1" to="1 1 1"></a-entity>
                       
                     <a-entity animation begin="cursor-fusing" easing="ease-in" attribute="scale" dur="1500"
                           fill="backwards" from="1 1 1" to="0.1 0.1 0.1"></a-entity>
          </a-entity>
      </a-entity>

    <a-entity id="scene1">
      <a-sky id="pano1" src="/static/photosphere1.jpg" rotation="0 -60 0" radius="5000" color="#fff"></a-sky>
       <a-entity   
            id="box"            
            geometry="primitive: box"
            material="color: red"
            position="3 2 5"
            rotation="0 45 0"
            onclick="nextScene('scene2')"
        ></a-entity>
    </a-entity>

    <a-entity id="scene2" visible="false">
        <a-sky id="pano2" src="/static/photosphere2.jpg" rotation="0 -60 0" radius="5000" color="#fff"></a-sky>
        <a-entity   
            id="box"            
            geometry="primitive: box"
            material="color: blue"
            position="1 2 5"
            rotation="0 45 0"
            onclick="nextScene('scene1')"
        ></a-entity>
    </a-entity>

  </a-scene>

  <script type="text/javascript">
  
 // nextScene('scene2')
 
 function test(bla) {
    
 }

  function nextScene(theScene) {
    alert(theScene);    
    document.getElementById(theScene).setAttribute('visible', 'true');
    document.getElementById('scene1').setAttribute('visible', 'false');
  }
  </script>

     <hr class="my-4">
  <h4>Inspired by...</h4>
  <a href="https://github.com/aframevr/aframe/issues/1023" target="_blank">A-Frame Switch scene</a>
    <br>
      <a href="https://aframe.io/docs/0.8.0/introduction/writing-a-component.html" target="_blank">A-Frame Writing a Component</a>
    <br>
