<p class="lead">A-Frame - Insert Links for VR Tour</p>
<hr class="my-4">

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script type="text/javascript" src="/static/general.js"></script>

<script>
var theHtml = '<a-scene>' + 
		     '<a-entity camera look-controls>' + 		     
			  '<a-entity cursor="fuse: true; fuseTimeout: 500" position="0 0 -1" geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03" material="color: black; shader: flat">' + 			  			  				    				    				    
				     '<a-entity animation begin="click" easing="ease-in" attribute="scale" dur="150" fill="forwards" from="0.1 0.1 0.1" to="1 1 1"></a-entity>' + 				       
				     '<a-entity animation begin="cursor-fusing" easing="ease-in" attribute="scale" dur="1500" fill="backwards" from="1 1 1" to="0.1 0.1 0.1"></a-entity>' + 					  
			  '</a-entity>' + 
			  /*			  
			  '<a-entity ' +   
				    'id="button" ' +            
				    'geometry="primitive: box" ' +
				    'material="color: red" ' +
				    'position="1 0 -3" ' +
				    'rotation="0 45 0" ' +
				    'onclick=""' +
				'></a-entity>' +
				*/
    		      '</a-entity>';
			
      
var activeProject = "";	
var activeScene = "scene1";	
var availScenes =[];
var i = 0;
var dataArray = {
		 "0":{  "name": "scene1",
          		"links":  { 	"2": {"to": "scene2", "pos":{"x":"3","y":"2","z":"5"}, "color": "red"},
                      			"3": {"to": "scene3", "pos":{"x":"6","y":"2","z":"5"},"color": "green"},
                      			"4": {"to": "scene4", "pos":{"x":"9","y":"2","z":"5"},"color": "yellow"}
                    			}
       		 },
		 "1":{  "name": "scene2",
          		"links":  { 	"1": {"to": "scene1", "pos":{"x":"0","y":"2","z":"5"}, "color": "blue"},			
                      			"3": {"to": "scene3", "pos":{"x":"6","y":"2","z":"5"},"color": "green"},
                      			"4": {"to": "scene4", "pos":{"x":"9","y":"2","z":"5"},"color": "yellow"}
                    			}
        	},
        
		 "3":{  "name": "scene3",
          		"links":  { 	"1": {"to": "scene1", "pos":{"x":"0","y":"2","z":"5"}, "color": "blue"},
					"2": {"to": "scene2", "pos":{"x":"3","y":"2","z":"5"}, "color": "red"},                     
                      			"4": {"to": "scene4", "pos":{"x":"9","y":"2","z":"5"},"color": "yellow"}
                   			}          		
        	},
		
		 "4":{  "name": "scene4",
          		"links":  { 	"1": {"to": "scene1", "pos":{"x":"0","y":"2","z":"5"}, "color": "blue"},
					"2": {"to": "scene2", "pos":{"x":"3","y":"2","z":"5"}, "color": "red"},
                      			"3": {"to": "scene3", "pos":{"x":"6","y":"2","z":"5"},"color": "green"}                      			
                   			}          		
        	}		
      }; //end dataArray
      
     var theArrows = {
			 "0":{  "dir": "up",
			 	 "pos":{"x":"0.2","y":"1","z":"0"},
				  "where": "top",
				  "color": "white"
				  },
			"1":{  "dir": "down",		
			 	 "pos":{"x":"-0.2","y":"1","z":"0"},
				  "where": "top",
				  "color": "black"			
				},
			"2":{  "dir": "up",
			 	 "pos":{"x":"0.2","y":"-1","z":"0"},
				  "where": "bot",
				  "color": "white"
				  },
			"3":{  "dir": "down",		
			 	 "pos":{"x":"-0.2","y":"-1","z":"0"},
				  "where": "bot",
				  "color": "black"			
				},			
			"4":{  "dir": "right",		
			 	 "pos":{"x":"1","y":"0","z":"-0.2"},
				  "where": "right",
				  "color": "white"			
				},	
			"5":{  "dir": "right",		
			 	 "pos":{"x":"1","y":"0","z":"0.2"},
				  "where": "right",
				  "color": "black"			
				},
			"4":{  "dir": "left",			
			 	 "pos":{"x":"-1","y":"0","z":"-0.2"},
				  "where": "left",
				  "color": "white"			
				},	
			"5":{  "dir": "left",		
			 	 "pos":{"x":"-1","y":"0","z":"0.2"},
				  "where": "left",
				  "color": "black"			
				}
			};	  
				  
				  var arrShp = "sphere";
				  var arrDim = "0.1"; 
				  var arrHtml = "";
				  
				  

      
                  
// printObject(dataArray); 
$( document ).ready(function() {

	for(var arrKey in theArrows) { 	
		var arrVal = theArrows[arrKey]; 
		arrHtml += '<a-sphere ' +
					'class="arrows ' + arrVal.dir + ' ' + arrVal.where + '" ' +							
					'material="color: ' + arrVal.color + '" ' + 							
					'position="' + arrVal.pos.x + ' ' + arrVal.pos.y  + ' ' + arrVal.pos.z  + '" ' + 
					'radius="' + arrDim + '" ' +
					'visible="false" ' +							
					'onclick="moveEl(this)" ' +							
					'>' + 							
					'</a-sphere>'; 							
											
										
		
		} // for
		
		alert(arrHtml);
		
		

		
		for(var theKey in dataArray) { 
	                if(dataArray.hasOwnProperty(theKey)) { 
				var theVal = dataArray[theKey];
						
				var visibility = "false";
			
				if(theVal.name == activeScene) {
				
					visibility = "true";
							
				} // if valName
				// alert('scene: '  + ' - ' +  theVal.name + ' - ' + 'visibility: ' + ' - ' + visibility);
				availScenes[i] = theVal.name; 
				i++;
				 var moreHtml = '<a-entity ' +
							'class="scenes" ' + 
							'id="' + theVal.name + 
							'" visible="' + visibility + '">' +
							'<a-sky ' +
								'id="' + theVal.name + 'sky' + '" ' +
								 'src="/static/aframe/tour1/' + theVal.name + '.jpg" ' + 
								'rotation="0 -60 0" ' +
								'radius="5000" ' +
								'color="#fff">' +
							 '</a-sky>';	 
							
				    // alert('moreHtml: ' + moreHtml);
				  theHtml +=  moreHtml; 
					// alert(theHtml);
					for(var linkKey in theVal.links) { 
						var linkVal = theVal.links[linkKey];
						var evenMoreHtml = '<a-entity ' +
									'class="cubes" ' +
									'id="' + theVal.name + '_' + linkVal.to + '" ' + 
									'geometry="primitive: box" ' + 
									'material="color: ' + linkVal.color + '" ' + 
									'position="' + linkVal.pos.x + ' ' + linkVal.pos.y + ' ' + linkVal.pos.z + '" ' + 
									'rotation="0 45 0" ' +
									'onclick="showArrows(this.id)" ' +
									'>' +
									arrHtml +
										
										/*
										'<a-sphere ' +
											'class="arrows" ' +
											'material="color: white" ' + 
											'position="0 1 0" ' + 
											'radius="0.2" ' +
											'visible="false" ' +
											'onclick="moveEl(this)" ' +
											'>' + 
										'</a-sphere>' + 
										*/
									'</a-entity>';       
						  theHtml += evenMoreHtml;  
					} // for linkKey
					theHtml += '</a-entity>';			
                  
 	               } // fine if dataArray		   		       
		      		      
	       } // fine for key-dataArray	       
	     
	   theHtml += '</a-scene>';	 
 
  $("#contents").html(theHtml);       	                          
    
}); // document.ready

    function nextScene(theScene) {
	var sceneArr = theScene.split("_");
	var selScene = sceneArr[0];
	var linkScene = sceneArr[1];
	
		for(var keyScene in availScenes) {
		
			var valScene = availScenes[keyScene];
			
			if (linkScene == valScene) {
					// alert(valScene + ' - true!');
				 document.getElementById(valScene).setAttribute('visible', 'true');
			} else {
				// alert(valScene + ' - false!');
				document.getElementById(valScene).setAttribute('visible', 'false');
			} // if-else
		} // for		
				 
  } // f. nextScene()
  
     function showArrows(theId) {
     
     	$( "#" + theId + " .arrows").attr("visible","true");
						 
  } // f. showArrows()
  
       function moveEl(subj) {
       
       		// var pos = this.parentElement.id;
		// printObject(subj);
		// printObject(subj.object3D);
		// printObject(subj.object3D.position);
		// alert(subj.parentElement.object3D.position.y); 
		
		/*
		var pos = subj.parentElement.object3D.position.y;
		alert(pos);
		
		pos = pos + 1;
		alert(pos);
		alert(subj.parentElement.object3D.position.y);
		*/ 
		
		var arrClass = subj.className; 
		var arrayArr = arrClass.split(" "); 
		var arrType = arrayArr[0]; 
		var arrDir = arrayArr[1];
		var arrWhere = arrayArr[2];				
		
		// alert(subj.className);
		
		var el = subj.parentElement;				
		var pos = el.getAttribute('position'); 
		
		switch (arrDir) {
		    case "up":
			pos.y = pos.y + 1;
			break;
		    case "down":
			pos.y = pos.y - 1;
			break;
		    case "right":
			pos.x = pos.x + 1;
			break;
		    case "left":
			pos.x = pos.x - 1;
			break;
		    case "forw":
			pos.z = pos.z - 1;
			break;
		    case "backw":
			pos.z = pos.z + 1;
			break;		    
		}
		
		// pos.y = pos.y + 1;
		el.setAttribute(pos);
		
		
		
		/*
		if(dir == "up") {
			pos.y + 1;
		}
		*/
						 
  } // f. showArrows()
  
</script>

  
<div id="contents"></div>


     <hr class="my-4">
  <h4>Inspired by...</h4>
  <a href="https://gist.github.com/jhermsmeier/72626d5fd79c5875248fd2c1e8162489" target="_blank">From Spherical to Cartesian Coords and viceversa</a>
    <br>
      <a href="https://aframe.io/docs/0.8.0/introduction/writing-a-component.html" target="_blank">A-Frame Writing a Component</a>
    <br>
