<p class="lead">A-Frame</p>
<hr class="my-4">

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<!-- <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script> -->
 <!-- <script src="https://rawgit.com/oscarmarinmiro/aframe-video-controls/master/dist/aframe-video-controls.min.js"></script> -->


    
        <a-scene>
      <!-- The original example also has this 180 degree rotation, to appear to be going forward. -->
      <a-videosphere rotation="0 180 0" src="#video" 
                     play-on-window-click
                     play-on-vrdisplayactivate-or-enter-vr>
      </a-videosphere>
      
      <!-- Define camera with zero user height, movement disabled and arrow key rotation added. -->
      <a-camera user-height="0" wasd-controls-enabled="false" arrow-key-rotation>
        <!-- Text element for display messaging.  Hide once video is playing. -->
        <a-entity id="msg" position="0 -0.3 -1.5" text="align:center; 
                width:3;
                wrapCount:100;
                color:red;
                value:"Click window to make the video play, if needed."
                hide-once-playing="#video">
        </a-entity>
         <a-cursor 
              id="cursor" color="yellow" 
              cursor="fuse: true; maxDistance: 500; timeout: 1000" ></a-cursor>
      </a-camera>      
      
      <!-- Wait for the video to load. -->
      <a-assets>
        <!-- Single source video. -->
        <video id="video" style="display:none" 
               autoplay loop crossorigin="anonymous" playsinline webkit-playsinline controls>
          <!-- MP4 video source. -->
          <source type="video/mp4"
               src="/static/video360.mp4" />
        </video>
      </a-assets>
      
      
        <a-entity video-controls="src:#video"></a-entity>
      
    </a-scene>


<script>
	 $( document ).ready(function() {
	    $( ".footer" ).hide();
	});
 </script>

 <hr class="my-4">
  <div id="theArray">@@@</div>

  <hr class="my-4">
  <h4>Inspired by...</h4>
  <a href="https://github.com/oscarmarinmiro/aframe-video-controls/blob/master/README.md" target="_blank">A-Frame Video Controls</a>
    <br> 

