<p class="lead">A-Frame</p>
<hr class="my-4">

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script type="text/javascript" src="/static/general.js"></script>

<script>

alert('xxx');

var theHtml = '<a-scene>' + 
		     '<a-entity camera look-controls>' + 		     
			  '<a-entity cursor="fuse: true; fuseTimeout: 500" position="0 0 -1" geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03" material="color: black; shader: flat">' + 			  			  				    				    				    
				     '<a-entity animation begin="click" easing="ease-in" attribute="scale" dur="150" fill="forwards" from="0.1 0.1 0.1" to="1 1 1"></a-entity>' + 				       
				     '<a-entity animation begin="cursor-fusing" easing="ease-in" attribute="scale" dur="1500" fill="backwards" from="1 1 1" to="0.1 0.1 0.1"></a-entity>' + 					  
			  '</a-entity>' + 
    			'</a-entity>';
			
 /*
  theHtml +=     '<a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9" shadow></a-box>' +
      '<a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E" shadow></a-sphere>' +
      '<a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D" shadow></a-cylinder>' +
      '<a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4" shadow></a-plane>' +
      '<a-sky color="#ECECEC"></a-sky>';
      
      	 */
      
      alert('yyy');
      alert(theHtml);
      

var activeProject = "";	
var activeScene = "scene1";	
var availScenes =[];
var i = 0;

var dataArray = {
		 "0":{  "name": "scene1",
          		"links":  { 	"2": {"to": "scene2", "pos":{"x":"3","y":"2","z":"5"}, "color": "red"},
                      			"3": {"to": "scene3", "pos":{"x":"6","y":"2","z":"5"},"color": "green"},
                      			"4": {"to": "scene4", "pos":{"x":"9","y":"2","z":"5"},"color": "yellow"}
                    			}
       		 },
		 "1":{  "name": "scene2",
          		"links":  { 	"1": {"to": "scene1", "pos":{"x":"0","y":"2","z":"5"}, "color": "blue"},			
                      			"3": {"to": "scene3", "pos":{"x":"6","y":"2","z":"5"},"color": "green"},
                      			"4": {"to": "scene4", "pos":{"x":"9","y":"2","z":"5"},"color": "yellow"}
                    			}
        	},
        
		 "3":{  "name": "scene3",
          		"links":  { 	"1": {"to": "scene1", "pos":{"x":"0","y":"2","z":"5"}, "color": "blue"},
					"2": {"to": "scene2", "pos":{"x":"3","y":"2","z":"5"}, "color": "red"},                     
                      			"4": {"to": "scene4", "pos":{"x":"9","y":"2","z":"5"},"color": "yellow"}
                   			}          		
        	},
		
		 "4":{  "name": "scene4",
          		"links":  { 	"1": {"to": "scene1", "pos":{"x":"0","y":"2","z":"5"}, "color": "blue"},
					"2": {"to": "scene2", "pos":{"x":"3","y":"2","z":"5"}, "color": "red"},
                      			"3": {"to": "scene3", "pos":{"x":"6","y":"2","z":"5"},"color": "green"}                      			
                   			}          		
        	}		
      }; //end dataArray
      
      
        
        
  alert(dataArray);                  
printObject(dataArray); 
		




$( document ).ready(function() {

		printObject(dataArray); 
		
						

		for(var theKey in dataArray) { 
		
		
		
	                if(dataArray.hasOwnProperty(theKey)) { 
			
			
			
			
					
			
			
			var theVal = dataArray[theKey];
			
			
			var visibility = "false";
			
			if(theVal.name == activeScene) {
						visibility = "true";
					} 
					
					alert('scene: '  + ' - ' +  theVal.name + ' - ' + 'visibility: ' + ' - ' + visibility);
					
			
			
			
			 var moreHtml = '<a-entity id="' + theVal.name + '" visible="' + visibility + '">' +
			 		'<a-sky ' +
						'id="' + theVal.name + 'sky' +
						'" src="/static/aframe/tour1/' + theVal.name + '.jpg" ' + 
						rotation="0 -60 0" ' +
						'radius="5000" ' +
						'color="#fff">' +
					'</a-sky>';
			      
			    
			    alert('moreHtml: ' + moreHtml);
			  
			  theHtml +=  moreHtml; 
			  
				alert(theHtml);
			/*
			if(theVal.name == activeProject) {
				var theLinks = theVal.links;
				alert('theLinks');
				printObject(theLinks);
				printObject(theLinks[1]);
				alert(theLinks[1]['to']);
				
					*/			
				
				
				
				for(var linkKey in theVal.links) { 
				
					
				
					
				
					
					
					var linkVal = theVal.links[linkKey];
					
					
					
					
					// alert('linkval'); 
					// printObject(linkVal); 
					// alert('scene: ' + linkVal.to + 'x: ' + linkVal.pos.x );
					
					
					
					availScenes[i] = linkVal.to; 
					i++;
					
					var evenMoreHtml = '<a-entity id="' + theVal.name + '_' + linkVal.to + '" geometry="primitive: box" material="color: ' + linkVal.color + '" position="' + linkVal.pos.x + ' ' + linkVal.pos.y + ' ' + linkVal.pos.z + '" rotation="0 45 0"></a-entity>';  
					      alert(evenMoreHtml);         
					  
					  theHtml += evenMoreHtml;
					  
					  // onclick="setActiveScene(\'' + linkVal.to +'\')
					  
					 //  document.getElementById(theVal.name + '_' + linkVal.to).addEventListener("click", setActiveScene(linkVal.to));
					    
					     $(document).on('click','#' + theVal.name + '_' + linkVal.to,setActiveScene(linkVal.to));
					    
					    
					 
				     
					
					
				} // for linkKey
				
				 
				
				
				theHtml += '</a-entity>';
			
			// } // if val.name
			
			
			
				
			
			
			
			
			
			
			
			
				                      
 	               } // fine if dataArray		   		       
		      
		    
		      
	       } // fine for key-dataArray
	       
	     
	   theHtml += '</a-scene>';
	 
	 alert(theHtml);
 
  $("#contents").html(theHtml);       	       
                   
    
});

function setActiveScene(scene) {

		alert(scene);
		
		/*



	for(var singScene in availScenes) {
		if (scene == singScene) {
			document.getElementById(scene).setAttribute('visible', 'true');
			} else {
			document.getElementById(scene).setAttribute('visible', 'false');
			}
		} 
		
		*/
	

}

</script>

  
<div id="contents"></div>


     <hr class="my-4">
  <h4>Inspired by...</h4>
  <a href="https://github.com/aframevr/aframe/issues/1023" target="_blank">A-Frame Switch scene</a>
    <br>
      <a href="https://aframe.io/docs/0.8.0/introduction/writing-a-component.html" target="_blank">A-Frame Writing a Component</a>
    <br>
