<p class="lead">A-Frame</p>
<hr class="my-4">

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script>
// Registering component in foo-component.js
AFRAME.registerComponent('foo', {
  schema: {
    color: {default: '#FFF'},
    size: {type: 'int', default: 5}
  }
  init: function () {},
  update: function () {},
  tick: function () {},
  remove: function () {},
  pause: function () {},
  play: function () {}
});

AFRAME.registerComponent('log', {
  schema: {type: 'string'},

  init: function () {
    var stringToLog = this.data;
    alert(stringToLog);
  }
});
</script>

 
 <a-scene log="Hello, Scene!">
      <a-entity foo="color: red; size: 20"></a-entity>
     <a-box log="Hello, Box!"></a-box>
</a-scene>

     <hr class="my-4">
  <h4>Inspired by...</h4>
  <a href="https://aframe.io/docs/0.8.0/core/component.html" target="_blank">A-Frame Components</a>
    <br>
      <a href="https://aframe.io/docs/0.8.0/introduction/writing-a-component.html" target="_blank">A-Frame Writing a Component</a>
    <br>
