<p class="lead">A-Frame</p>
<hr class="my-4">

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script type="text/javascript" src="/static/general.js"></script>

<script>

alert('xxx');

var theHtml = '<a-scene>' + 
		     '<a-entity camera look-controls>' + 		     
			  +<a-entity cursor="fuse: true; fuseTimeout: 500" position="0 0 -1" geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03" material="color: black; shader: flat">' + 			  			  				    				    				    
				     <a-entity animation begin="click" easing="ease-in" attribute="scale" dur="150" fill="forwards" from="0.1 0.1 0.1" to="1 1 1"></a-entity> 				       
				     <a-entity animation begin="cursor-fusing" easing="ease-in" attribute="scale" dur="1500" fill="backwards" from="1 1 1" to="0.1 0.1 0.1"></a-entity> 					  
			  </a-entity> 
      </a-entity>';
      
      alert('yyy');
      alert(theHtml);
      

var activeProject = "";	
var activeScene = "";							

var dataArray = {
		 "0":{  "name": "project1",
          		"links":  { 	"1": {"to": "scene1", "pos":[0,2,5], "color": "blue"},
					"2": {"to": "scene2", "pos":[3,2,5], "color": "red"},
                      			"3": {"to": "scene3", "pos":[6,2,5],"color": "green"},
                      			"4": {"to": "scene4", "pos":[9,2,5],"color": "yellow"}
                    			}
       		 },
		 "1":{  "name": "project2",
          		"links":  { 	"1": {"to": "scene1", "pos":[0,2,5], "color": "blue"},
					"2": {"to": "scene2", "pos":[3,2,5], "color": "red"},
                      			"3": {"to": "scene3", "pos":[6,2,5],"color": "green"},
                      			"4": {"to": "scene4", "pos":[9,2,5],"color": "yellow"}
                    			}
        	},
        
		 "3":{  "name": "project3",
          		"links":  { 	"1": {"to": "scene1", "pos":[0,2,5], "color": "blue"},
					"2": {"to": "scene2", "pos":[3,2,5], "color": "red"},
                      			"3": {"to": "scene3", "pos":[6,2,5],"color": "green"},
                      			"4": {"to": "scene4", "pos":[9,2,5],"color": "yellow"}
                   			}
        
     		
        	}
      }; //end dataArray
      
      
        
        
  alert(dataArray);                  
printObject(dataArray); 
		




$( document ).ready(function() {

		printObject(dataArray); 
		
						

		for(var theKey in dataArray) { 
		
		
		
	                if(dataArray.hasOwnProperty(theKey)) { 
			
			if (activeProject == "") {
				activeProject = "project1";
			}
			
			
			if (activeScene == "") {
				activeScene = "scene1";
			}
			
			
			
			
			var theVal = dataArray[theKey];
			var theScene = theVal.name;
			printObject(theVal); 
			alert(theScene);
			
			
				                      
 	               } // fine if 1  		   		       
		      
		    
		      
	       } // fine for 
	       
	    /*   
	  var theHtml += '</a-scene>';
	 
	 alert(theHtml);
 
 $("#contents").html(theHtml);       	       
          */            
    
});



</script>

  
<div id="contents"></div>


     <hr class="my-4">
  <h4>Inspired by...</h4>
  <a href="https://github.com/aframevr/aframe/issues/1023" target="_blank">A-Frame Switch scene</a>
    <br>
      <a href="https://aframe.io/docs/0.8.0/introduction/writing-a-component.html" target="_blank">A-Frame Writing a Component</a>
    <br>
