<h2 class="lead">ANGULAR JS TEST</h2>
<hr class="my-4">


<h2>Model View Controller (MVC)</h2>
<a href="https://www.html.it/pag/52626/mv-in-angularjs/">view source</a>

<script type="text/javascript">
angular.module("myApp", [])
	.controller("userController", 
		function($scope) {
			$scope.nome = "Mario";
			$scope.cognome = "Rossi";
	});
</script>

  <div ng-app="myApp">

	

	<div ng-controller="userController">
	<p>Nome: <input type="text" ng-model="nome"></p>
	<p>Cognome: <input type="text" ng-model="cognome"></p>
        </div>
</div>


