<p class="lead">Cloudinary - retrieve uploaded images</p>
<hr class="my-4">
<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script src="https://media-library.cloudinary.com/global/all.js"></script>
 
 <script>
 var getPassEjs = parseInt(<%- passEjs %>);
 
 alert("getPassEjs = " + getPassEjs );
 alert("api key = ");
 
 window.ml = cloudinary.createMediaLibrary({
   cloud_name: 'alessdelo',
   api_key: getPassEjs,
   username: 'ale.ele.internos@gmail.com',
   button_class: 'myBtn',
   button_caption: 'Select Image or Video',
 }, 
 
 {folder: {path: "alessdelo/test1", resource_type: "image"}},
 {
     insertHandler: function (data) {
       data.assets.forEach(asset => { printObject("Inserted asset:",
       JSON.stringify(asset, null, 2)) })
       }
    },
    document.getElementById("open-btn")
)

window.ml.open();

alert('finished');

  // ----------------------------------------------------------------------------
</script>
 <div id="open-btn">open</div>
