<p class="lead">This is a simple basic Bootstrap form</p>
<hr class="my-4">


<button id="upload_widget" class="cloudinary-button">Upload files</button>

<script type="text/javascript" src="/static/general.js"></script>


<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">  
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'alessdelo', 
  uploadPreset: 'alessdelo_preset'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info); 
      alert('Done! Here is the image info: ', result.info); 
      printObject(result.info);
    }
  }
)

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
  
   clUrl = $.cloudinary.url('alessdelo/test1', {format: 'json', type: 'list'});
   
   /*
   document.getElementById("theList").addEventListener("click", function(){
    printObject('clUrl');
  }, false);
  */
   
</script>

<a href="https://cloudinary.com/documentation/upload_widget">source</a>

<img src="https://res.cloudinary.com/alessdelo/image/upload/v1556801121/alessdelo/test1/u0g8hinuwe1z384vg6cj.jpg" alt="bla">


<!-- <p> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </p> -->

<br>

<script>

document.getElementById("fetch").addEventListener("click", function(){
  cloudinary.v2.api.resources({ type: 'upload', prefix: '' }, function(error, result){printObject(result)});
});

  /*
   document.getElementById("theList").addEventListener("click", function(){
        cloudinary.v2.api.resources(
              { resource_type: 'raw' }, 
              function(error, result){printObject(result);});
  }, false);
  */
   
  </script>

<button id="fetch" class="cloudinary-button">Fetch</button>



<!-- <p> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </p> -->

<br>

<script type="text/javascript" src="https://product-gallery.cloudinary.com/all.js"></script>
<div class="wrap" id="wrap"></div>
<script>
  cloudinary.galleryWidget({
    container: '#wrap',
    cloudName: 'alessdelo',
    mediaAssets: [{
      tag: "dress"
    }, {
      tag: "dress",
      mediaType: "video"
    }],
  }).render();
</script>


 






