
  <p class="lead">Esempio di funzionamento di ejs.</p>
  <hr class="my-4">
  <p>Codice nascosto e codice in chiaro:</p>
  <% for (var i=0; i<5; i++) { %>
    <p><%= title %></p>
  <% { %>
  <br/>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
