<p class="lead">Read and Write data to MongoDB via POST</p>
<hr class="my-4">
<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>


     <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwBHsazZiwOM_daIT60BctPGfQYWw8T38&callback=initMap">
    </script>
