<html lang="en">
<p class="lead">This is a Mongo DB content passed to an included file via ejs</p>
<hr class="my-4">
<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>

<!-- <form class="form-inline my-2 my-lg-0"> -->
      <input id="inputAuthor" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
      <input id="inputContent" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
      <input id="inputTitle" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">  
      <button id="addItem" class="btn btn-outline-success my-2 my-sm-0" >Add</button>
    <!-- </form> -->


<script>
alert('funziona');
$("#addItem").click(function() {
var inputAuthor = $('#inputAuthor').val();
var inputContent = $('#inputContent').val();
var inputTitle = $('#inputTitle').val();

alert(inputAuthor + " - " + inputContent + " - " + inputTitle);
window.location.href = '/addperson/' + inputAuthor + '/' + inputContent + '/' + inputTitle;
});
</script>
