<a href="https://openlayers.org/en/latest/examples/draw-and-modify-features.html">Example!</a>

<p class="lead">Create markers from MongoDB</p>
<hr class="my-4">

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>
var getPassEjs = <%- passEjs %>;

</script>

<hr class="my-4">
<h4>Inspired from...</h4>
<a href="https://openlayers.org/en/latest/examples/draw-and-modify-features.html">Example!</a>
</br>
