<p class="lead">OPENLAYERS - import KML</p>
<hr class="my-4">

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script type="text/javascript" src="/static/general.js"></script>

  
  <hr class="my-4">
  
    <style>
      .map {
       height: 400px;
       width: 100%;
      }
   </style>
  
  <h2>OPENLAYERS - import KLM  </h2>

<div id="map" class="map"></div>

<script>
      import Map from 'https://openlayers.org/en/v5.2.0/build/Map.js';
      import View from 'https://openlayers.org/en/v5.2.0/build/View.js';
      import {getCenter} from 'https://openlayers.org/en/v5.2.0/build/extent.js';
      import {Image as ImageLayer, Tile as TileLayer} from 'https://openlayers.org/en/v5.2.0/build/layer.js';

       var mapBaseLayer = new ol.layer.Tile({
                  source: new ol.source.OSM()
                }); 
		
		 var wmsLayer = new ImageLayer();
		
		/*
     var wmsLayer = new ImageLayer({
     
          extent: [-13884991, 2870341, -7455066, 6338219],
          source: new ImageWMS({
            url: 'https://ahocevar.com/geoserver/wms',
            params: {'LAYERS': 'topp:states'},
            ratio: 1,
            serverType: 'geoserver'
          })
	  
        });
		*/
	
		 var olMapLayers = [mapBaseLayer];
		
var map = new ol.Map({
              target: 'map',
	      layers: olMapLayers,             
              view: new ol.View({
			projection: 'EPSG:4326',
		  	center: [12.45, 41.90],
		  	zoom: 15
		})             
        }); // end var map
	

</script>
