<p class="lead">Create markers from MongoDB</p>
<hr class="my-4">

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>
var getPassEjs = <%- passEjs %>;

      var roma.lat = 41.900;
      var roma.lng = 12.529;
      
      // fromLonLat([37.41, 8.82]),

</script>

  <style>
      #map1 {
       height: 400px;
       width: 100%;
      }
   </style>


<h2>OpenLayers Simplest Example</h2>
<div id="map"></div>

<script>

var roma = ol.proj.fromLonLat([12.529999, 41.900000]);
    
        var map = new ol.Map({
              target: 'map',
              layers: [
                new ol.layer.Tile({
                  source: new ol.source.OSM()
                })
              ],
              view: new ol.View({
                center: roma,
                zoom: 12
              })
        });
       
               
               
        /*
        // Creo una variabile contenete il layer dei marker poi collego il layer dei markers alla mappa
    var LayerMarkers = new ol.Layer.Markers( "Markers" );
    Map.addLayer(LayerMarkers);
    
    // Aggiungo al layer dei marker un marker (utilizzando l'oggetto lonLat per le coordinate)
    LayerMarkers.addMarker(new ol.Marker(12.529999, 41.900000)); 
        */
        

</script>



  
  
