<p class="lead">Create markers from MongoDB</p>
<hr class="my-4">

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>
var getPassEjs = <%- passEjs %>;

      var roma.lat = 41.900;
      var roma.lng = 12.529;
      
      // fromLonLat([37.41, 8.82]),

</script>

  <style>
      #map1 {
       height: 400px;
       width: 100%;
      }
   </style>
   
    <style>
      #marker {
        width: 20px;
        height: 20px;
        border: 1px solid #088;
        border-radius: 10px;
        background-color: #0FF;
        opacity: 0.5;
      }
      #vienna {
        text-decoration: none;
        color: white;
        font-size: 11pt;
        font-weight: bold;
        text-shadow: black 0.1em 0.1em 0.2em;
      }
      .popover-content {
        min-width: 180px;
      }
    </style>


<h2>OpenLayers Simplest Example</h2>
<div id="map" class="map"></div>
<div style="display: none;">
      <!-- Clickable label for Vienna -->
      <a class="overlay" id="roma" target="_blank" href="http://en.wikipedia.org/wiki/Roma">Roma</a>
      <div id="marker" title="Marker"></div>
      <!-- Popup -->
      <div id="popup" title="Welcome to OpenLayers"></div>
    </div>

<script>

// https://openlayers.org/en/latest/examples/overlay.html

var roma = ol.proj.fromLonLat([12.529999, 41.900000]);
    
        var map = new ol.Map({
              target: 'map',
              layers: [
                new ol.layer.Tile({
                  source: new ol.source.OSM()
                })
              ],
              view: new ol.View({
                center: roma,
                zoom: 12
              })
        });
       
   // Vienna marker
      var marker = new ol.Overlay({
        position: roma,
        positioning: 'center-center',
        element: document.getElementById('marker'),
        stopEvent: false
      });
      map.addOverlay(marker);            
               
        

</script>



  
  
