<p class="lead">Create markers from MongoDB</p>
<hr class="my-4">

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<h2>OpenLayers Simplest Example</h2>
<div id="map"></div>
   <style>
      #map {
       height: 400px;
       width: 100%;
      }
   </style>

<script>
      var roma.lat = 41.9000000;
      var roma.lng = 12.5299999;

        var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([41.90, 12.53]),
          zoom: 8
        })
      });
</script>

  
  
