
<p>These are the PRODUCTS page contents</p>

<?php echo "this is an echo!"; ?>
<br/>
<input id="word">
<br/>
<button id="submit">submit</button>

<br/>
<br/>
<h4>jquery test</h4>
<div id="toClick">
  Click here
</div>
<div id="other">
  Trigger the handler
</div>

<script>

$( "#toClick" ).click(function() {
  alert( "Handler for .click() called." );
});

$( "#other" ).click(function() {
  $( "#toClick" ).click();
});

/*
var theAlert = 'products page';
alert(theAlert)

var button =select('#submit');
button.mousePressed(submitWord);

function submitWord() {

   var word = select('#word').value();
   alert(word);
   // window.location.href = '/search/' + word;
}
*/
</script>


	<script>
            
                // AJAX TEST 1 (retrieve a simple text)
                
                // takes simple text from php	
                
                function ajaxTest1(target) {
                
                    $(target).click(function() {
                    
                        $.ajax({
                                        url: '../scriptNotes/ajaxTest1.php',
                                        type: 'get',
                                        dataType:'text',
                                        success: function(data){
                                            window.alert(data);
                                        },
                                        
                                        error: function(text){
                                            alert("error");
                                            printObject(data);
                                        }

                               });    

                    }); // end $target function

                } // end ajaxTest1  
                
             

           </script>

           <h4>Test invio ricezione verso file di destinazione</h4>
			<button id="target">clicca per testare</button>

            <script>
              // richiama la funzione ajax
                ajaxTest1("#target");
           </script>
