
<p>These are the PRODUCTS page contents</p>

<?php echo "this is an echo!"; ?>
<br/>
<input id="word">
<br/>
<button id="submit">submit</button>

<script>

var button =select('#submit');
button.mousePressed(submitWord);

function submitWord() {

   var word = select('#word').value();
   alert(word);
   // window.location.href = '/search/' + word;
}

</script>
