<html lang="en">
<p class="lead">This is a variable passed to an included file via ejs</p>
<hr class="my-4">
<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = 1000; %>

<script>

// alert(<%- strMyVar %>);

var ejsTest = <%= passEjs %>;

alert(ejsTest);

$(document).ready( function() {
            $('#myDiv').html("my html");
});

</script>

<p>tag myDiv:</p>
<div id="myDiv">no info..</div>


