<p class="lead">This is a variable passed to an included file via ejs</p>
<hr class="my-4">
<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>

var myEjs = JSON.stringify(<%- passEjs %>);

alert("myEjs = " + myEjs);

$(document).ready( function() {
            $('#myDiv').html(myEjs);
});

var dataArray = <%- passEjs %>;

alert(dataArray);

var theFirstData = dataArray['hellen']; //get the data with id "1"

alert(theFirstData);

$(document).ready( function() {
            $('#firstItem').html(theFirstData);


            for(var theKey in dataArray) {
                if(dataArray.hasOwnProperty(theKey)) {
                    var theVal = dataArray[theKey];
                        alert(theKey + " - " + theVal);

                       // $('#objVals').html(theVal);
                       //  $( "#objVals" ).html( "<p>" + theKey + " - " + theVal + "</p>" );
                       $("ol").append("<li>" + theKey + " - " + theVal + "</li>" );
                       // $("ol").append("<li>foo</li>" );

                }
            } // fine for

}); // fine document.ready

</script>

<p>This is the variable passed from EJS, re- passed into a Javscript tag:</p>
<div id="myDiv">no info..</div>

<p>This is the first item extracted from the JSON:</p>
<div id="firstItem">no info..</div>

<p>These are the array values xtracted from the JSON object:</p>
<div id="objVals">no info..</div>
<ol>
<li>bla 1</li>
<li>bla 2</li>
</ol>

<script>
            $(document).ready( function() {			
                        getJSON('/static/test.json', function(data) { 			
                                    alert(data); 
                                    alert('getJson');

                        });	
            }); // fine document.ready
</script>
