<p class="lead">This is a variable passed to an included file via ejs</p>
<hr class="my-4">
<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>

var myEjs = JSON.stringify(<%- passEjs %>);

alert(myEjs);

$(document).ready( function() {
            $('#myDiv').html(myEjs);
});

</script>

<p>This is the variable passed from EJS, re- passed into a Javscript tag:</p>
<div id="myDiv">no info..</div>

