<p class="lead">This is a variable passed to an included file via ejs</p>
<hr class="my-4">
<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>

var myEjs = JSON.stringify(<%- passEjs %>);

alert(myEjs);

$(document).ready( function() {
            $('#myDiv').html(myEjs);
});

var dataArray = JSON.parse(<% passEjs %>);

var theFirstData = dataArray[0]; //get the data with id "1"

$(document).ready( function() {
            $('#firstItem').html("bla");
});

</script>

<p>This is the variable passed from EJS, re- passed into a Javscript tag:</p>
<div id="myDiv">no info..</div>

<p>This is the first item extracted from the JSON:</p>
<div id="firstItem">no info..</div>

