
<p class="lead">Three.js - Hello World!</p>
<hr class="my-4">

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<script>
var getPassEjs = <%- passEjs %>;
</script>

<script type="text/javascript" src="/static/general.js"></script>

	<style>			
			canvas { width: 100%; height: 100% }
		</style>

<script>
			// constant THREE is declared in index file
			// const THREE = require('three'); 
			var scene = new THREE.Scene();
			var camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.1, 1000 );

			var renderer = new THREE.WebGLRenderer();
			renderer.setSize( window.innerWidth, window.innerHeight );
			document.body.appendChild( renderer.domElement );
			
			var light = new THREE.PointLight( 0xff0000, 1, 100 );
			light.position.set( 10, 10, 10 );
			scene.add( light );
			
			// icosaedron
			var geometry = new THREE.IcosahedronGeometry(1,0);
			var material = new THREE.MeshPhongMaterial();

			// basic material
			// var geometry = new THREE.BoxGeometry( 1, 1, 1 );
			// var material = new THREE.MeshBasicMaterial( { color: 0x00ff00 } );
			
			var my3dObj = new THREE.Mesh( geometry, material );
			scene.add( my3dObj );

			camera.position.z = 5;

			var animate = function () {
				requestAnimationFrame( animate );

				cube.rotation.x += 0.01;
				cube.rotation.y += 0.01;

				renderer.render( scene, camera );
			};

			animate();
		</script>
