<p class="lead">VR Viewer</p>
<hr class="my-4">

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<?php include "/static/test.php"; ?>

<script>
var getPassEjs = <%- passEjs %>;
</script>


<script src="https://storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script>

<div id='vrview'></div>




<script>
window.addEventListener('load', onVrViewLoad);

function onVrViewLoad() {
  // Selector '#vrview' finds element with id 'vrview'.
  var vrView = new VRView.Player('#vrview', {
    image: '/static/stereo3.jpg',
    is_stereo: true
  });
}


</script>
<a-scene>
<script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>

      <a-sky src="/static/originale.jpg" rotation="0 -130 0"></a-sky>

      <a-text font="kelsonsans" value="Puy de Sancy, France" width="6" position="-2.5 0.25 -1.5"
              rotation="0 15 0"></a-text>
    </a-scene>

 
  <hr class="my-4">
  <h4>Inspired by...</h4>
  <a href="https://developers.google.com/vr/develop/web/vrview-web">Google VR Viewer API</a>
    <br> 
   <a href="https://www.vrfocus.com/2016/05/guide-to-embedding-vr-view-on-web-including-support-specs-hosting/">Notes About Google VR Viewer Embedding</a> 
     <br>    
  <a href="https://stackoverflow.com/questions/37474383/vr-view-render-unable-to-load-texture-from-image-jpg">Issue. unable to load texture from image</a>   
    <br>
  <a href="https://community.theta360.guide/t/4-top-free-360-image-viewers-for-developers/1391">Top VR Viewers</a>   
    <br>   
  <a href="https://aframe.io/">A-Frame</a>   
    <br>
  <a href="https://cctoolkit.vectorcult.com/#DQ0yEe7SBqt">Photosphere Join</a>   
    <br>    
    
    
    
   
    
