<p class="lead">Openlayers - Markers from MongoDB and Quaries</p>
<hr class="my-4">

<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>
<% var passEjs = strMyVar; %>

<?php include "/static/test.php"; ?>

<script>
var getPassEjs = <%- passEjs %>;
</script>
