<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav3.ejs %>

<div class="jumbotron text-center">
  <div class="container">
  
    <h1>Page 2</h1>
    <p>Bla... bla... bla...</p>
  </div>
</div>


</body>
</html>
